coverage/**
node_modules/**
dist/**
*.spec.js
src/index.html
src/views/App.js
src/constants
src/utils/EasePack.js
src/utils/ThrowPropsPlugin.js
src/TweenLite.js
src/components/CircuitDraggableCard.js
src/components//AgrupandoDraggableCard.js
