// COLORS
$white: white;
$white-7: rgba(255, 255, 255, 0.7);

$gray-light: #979797;
$gray-light-5: rgba(151, 151, 151, 0.5);
$gray: #474747;
$gray-lighter: #CCCCCC;
$black: black;
$black-24: rgba(0, 0, 0, 0.24);
$black-12: rgba(0, 0, 0, 0.12);
$black-5: rgba(0,0,0,0.5);
$black-7: rgba(0,0,0,0.7);

$notifications: #e2e2e2;
$notificationsHover: $white;

$footer: #191919;

$link: #638BBA;

$arrows: #7F7F7F;

$primary: #638bba;
$secondary: #3E3D3D;
$third: #DCDCDC;

$error: #d0011b;
$correct: #5c9e16;

$good: #3f6b0f;

$badges: $error;

$popups: #f3f3f3;

$text-color: black;
$secondary-button: #bababa;
$unactive: #e6e6e6;

$borders: #bbcadc;
$borders-secondary: #c1d1e3;
$border-dashed: #bacadb;
$components: $borders;

$icons: #b3b3b3;
$icons-hover: #969696;

$file-upload: #8f8f8f;

$loginBoxes: rgba(255, 255, 255, 0.9);

$disabled: #F6F4F4;